.header {
  width: 100%;
  background-color: white ;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  padding: 10px;
}

.header .row .row  h2 {
  font-size: 14px;
  font-weight: 500;
  color: #1C1C28;
  line-height: 21px;
  margin: 0px 8px ;
}
.header .row .row h2 span {
  background-color: #3E97FF1A;
  color: #3E97FF;
  padding: 4px 6px;
  border-radius: 4px;
}
.header .row .row .language button {
  border: #3E97FF;
  background-color: #3E97FF1A;
  color: #000000;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.header .row .close .icon-button {
  cursor: pointer;
  background-color: #3E97FF1A;
  font-size: 16px;
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.header .row .close .icon-button:hover {
  color: #FF4B55;
}
